@model WebDatVePhim.Models.Ghe

@{
    ViewBag.Title = "XoaPhim";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa ghế ngồi</h2>

<div>
    <h4>Ghế</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID ghế
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Ghe)
        </dd>

        <dt>
            Phòng chiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_PhongChieu)
        </dd>
        <dt>
            Hàng ghế
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soHangGhe)
        </dd>
        <dt>
            Số ghế
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soGheTrongHang)
        </dd>

        <dt>
            Tình trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhTrang)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang quản lý ghế ngồi", "Index")
        </div>
    }
</div>
