@model WebDatVePhim.Models.LichChieuPhim

@{
    ViewBag.Title = "HienThi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Hiển thị</h2>

<div>
    <h4>Lịch chiếu phim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID lịch chiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_LichChieuPhim)
        </dd>

        <dt>
            Tên phim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phim.tenPhim)
        </dd>

        <dt>
            Phòng chiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhongChieu.tenPhongChieu)
        </dd>

        <dt>
             Thời gian bắt đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoiGianBatDau)
        </dd>

        <dt>
            Thời gian kết thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoiGianKetThuc)
        </dd>

        <dt>
            Ngày chiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayChieu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @IdLichChieuPhim = Model.id_LichChieuPhim }) |
    @Html.ActionLink("Quay lại trang quản lý lịch chiếu", "Index")
</p>
