@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebDatVePhim.Models.LichChieuPhim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý lịch chiếu phim</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            ID lịch chiếu
        </th>
        <th>
            Tên phim
        </th>
        <th>
            Phòng chiếu
        </th>
        <th>
            Rạp
        </th>
        <th>
            Thời gian bắt đầu
        </th>
        <th>
            Thời gian kết thúc
        </th>
        <th>
            Ngày chiếu
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_LichChieuPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phim.tenPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhongChieu.tenPhongChieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhongChieu.Rap.tenRap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiGianBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiGianKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayChieu)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { IdLichChieuPhim = item.id_LichChieuPhim }) |
                @Html.ActionLink("Hiển thị", "HienThi", new { IdLichChieuPhim = item.id_LichChieuPhim }) |
                @Html.ActionLink("Xóa", "XoaPhim", new { IdLichChieuPhim = item.id_LichChieuPhim })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<style>
    .MenuTrang li {
        display: inline;
        font-size: 20px;
    }

    ul.pagination {
        justify-content: center;
    }
</style>