@model WebDatVePhim.Models.Ve

@{
    ViewBag.Title = "HienThi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Hiển thị</h2>

<div>
    <h4>Vé</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID vé
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Ve)
        </dd>
        <dt>
            Tên phim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LichChieuPhim.Phim.tenPhim)
        </dd>
        <dt>
            Suất chiếu
        </dt>

        <dd>
            @(Model.LichChieuPhim?.ngayChieu?.ToString("dd/MM/yyyy") ?? "N/A") <br />
            @(Model.LichChieuPhim?.thoiGianBatDau?.ToString(@"hh\:mm") ?? "N/A") ~ @(Model.LichChieuPhim?.thoiGianKetThuc?.ToString(@"hh\:mm") ?? "N/A")
        </dd>


        <dt>
            Vị trí ghế
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viTriGhe)
        </dd>

        <dt>
            Ngày đặt
        </dt>

        <dd>
            @Model.ngayDat.GetValueOrDefault().ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Giờ đặt
        </dt>

        <dd>
            @Model.gioDat.GetValueOrDefault().ToString(@"hh\:mm")
        </dd>

        <dt>
            Mã đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maDat)
        </dd>

        <dt>
            Số tiền
        </dt>

        <dd>
            @Model.soTien.GetValueOrDefault().ToString("#,###")

        </dd>

        <dt>
            Bắp nước
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_BapNuoc)
        </dd>

        <dt>
            Khuyến mãi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_KhuyenMai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @IdVe = Model.id_Ve })  |
    @Html.ActionLink("Quay lại trang quản lý vé", "Index")
</p>
