@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<WebDatVePhim.Models.Ve>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
</head>


@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
<h2>Quản lý vé</h2>
<button><a href="~/QuanLyVe/ThongKeDoanhThu"> Thống kê doanh thu</a></button>

<table class="table">
    <tr>
        <th>
            ID vé
        </th>
        <th>
            Tên phim
        </th>
        <th style="width:120px">
            Suất chiếu
        </th>
        <th>
            Rạp
        </th>
        <th>
            Phòng chiếu
        </th>
        <th>
            Vị trí ghế
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Giờ đặt
        </th>
        <th>
            Mã đặt
        </th>
        <th>
            Số tiền
        </th>
        <th width="200px">
            Bắp nước
        </th>
        <th>
            Khuyến mãi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_Ve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichChieuPhim.Phim.tenPhim)
            </td>
            <td>
                @(item.LichChieuPhim?.ngayChieu?.ToString("dd/MM/yyyy") ?? "N/A") <br />
                @(item.LichChieuPhim?.thoiGianBatDau?.ToString(@"hh\:mm") ?? "N/A") ~ @(item.LichChieuPhim?.thoiGianKetThuc?.ToString(@"hh\:mm") ?? "N/A")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichChieuPhim.PhongChieu.Rap.tenRap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichChieuPhim.PhongChieu.tenPhongChieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.viTriGhe)
            </td>
            <td>
                @item.ngayDat.GetValueOrDefault().ToString("dd/MM/yyyy")
            </td>
            <td>

                @item.gioDat.GetValueOrDefault().ToString(@"hh\:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maDat)
            </td>
            <td>

                @item.soTien.GetValueOrDefault().ToString("#,###")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chiTietBapNuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhuyenMai.tenKhuyenMai)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { IdVe = item.id_Ve }) |
                @Html.ActionLink("Hiển thị", "HienThi", new { IdVe = item.id_Ve }) |
                @Html.ActionLink("Xóa", "Xoa", new { IdVe = item.id_Ve })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
        font-size: 20px;
    }

    ul.pagination {
        justify-content: center;
    }
</style>