@model WebDatVePhim.Models.PhongChieu

@{
    ViewBag.Title = "XoaPhim";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa phòng chiếu</h2>

<div>
    <h4>Phòng chiếu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID phòng chiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_PhongChieu)
        </dd>

        <dt>
            Rạp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rap.tenRap)
        </dd>

        <dt>
            Phòng chiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenPhongChieu)
        </dd>

        <dt>
            Số lượng ghế
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongGhe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang quản lý phòng chiếu", "Index")
        </div>
    }
</div>
