@model WebDatVePhim.Models.KhuyenMai

@{
    ViewBag.Title = "XoaPhim";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa khuyến mãi</h2>

<div>
    <h4>Khuyến mãi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID khuyến mãi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_KhuyenMai)
        </dd>

        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenKhuyenMai)
        </dd>

        <dt>
            Đối tượng áp dụng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doiTuongApDung)
        </dd>
        <dt>
            Giá khuyến mãi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaKhuyenMai)
        </dd>
        <dt>
            Thời gian bắt đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoiGianBatDauKM)
        </dd>

        <dt>
            Thời gian kết thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoiGianKetThucKM)
        </dd>

        <dt>
            Chi tiết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chiTietKhuyenMai)
        </dd>

        <dt>
            Điều kiện áp dụng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dieuKienApDung)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <div id=" hinhAnh"><img src="@Url.Content("~/img/"+Model.hinhAnh)" width="150" height="150" /></div>
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang quản lý khuyến mãi", "Index")
        </div>
    }
</div>
