@model IEnumerable<WebDatVePhim.Models.Ghe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="btnBack">
    <button class="btnBack" style="border:none" onclick="clearLichChieuSelectionsAndGoBack()">
        <img src="~/img/btnBack.png" style="width:20px;height:20px" />
        <span class="Back" style="font-size: 20px; vertical-align: middle;">Lịch chiếu phim</span>
    </button>
</div>
<h2>Chọn ghế ngồi </h2>
<div class="screen">MÀN HÌNH</div>

<div id="gheList">
    @foreach (var ghe in Model)
    {        
        <div class="ghe @(ghe.tinhTrang == "DaDat" ? "booked" : "")" data-id="@ghe.id_Ghe" style="background-color:@(ghe.tinhTrang == "DaDat" ? "red" : "green")">
            @ghe.soHangGhe@ghe.soGheTrongHang
        </div>       
    }
</div>
<div class="legend">
    @*<div>
            <span class="ghe available" style="background-color: green; display: inline-block; width: 40px; height: 40px;"></span>
            Ghế trống
        </div>*@
    <div class="legend-item">
        <span style="background-color: green; display: inline-block; width: 40px; height: 40px; border-radius:10px;" ></span>
        Ghế trống
    </div>
    <div class="legend-item">
        <span style="background-color: red; display: inline-block; width: 40px; height: 40px;  border-radius: 10px; "></span>
        Ghế đã đặt
    </div>
    <div class="legend-item">
        <span style="background-color: green; border: 2px solid blue; display: inline-block; width: 40px; height: 40px;border-radius: 10px; "></span>
        Ghế bạn chọn
    </div>
</div>

@*<button id="reset-btn">Reset Ghế</button>*@
<button id="dat-ve-btn">Đặt Vé</button>

<script>  
    $(document).ready(function() {
        var selectedSeats = [];
        var lichChieuId = @ViewBag.LichChieuId;
        $(".ghe").on("click", function() {
            var gheId = $(this).data("id");
            var viTri = $(this).data("vitri");
            var gheDiv = $(this);
            if ($(this).hasClass("booked")) {
                alert("Ghế này đã được đặt rồi!");
                return;
            }
            if ($(this).hasClass("selected")) {
                $(this).removeClass("selected");
                selectedSeats = selectedSeats.filter(function(item) {
                    return item.gheId !== gheId;
                });
            } else {
                $(this).addClass("selected");
                selectedSeats.push({ gheId: gheId, viTri: viTri });
            }
        });

        $("#dat-ve-btn").on("click", function() {
            if (selectedSeats.length === 0) {
                alert("Vui lòng chọn ít nhất một ghế!");
                return;
            }
            var gheIds = selectedSeats.map(function (item) {
                return item.gheId;
            });

            $.ajax({
                url: '@Url.Action("DatGhe", "ChonGheNgoi")',
                type: 'POST',
                data: JSON.stringify({ gheIds: gheIds, lichChieuId: lichChieuId }),
                contentType: 'application/json; charset=utf-8',
                success: function(response) {
                    var successfulBookings = [];
                    var failedBookings = [];
                    response.forEach(function(result) {
                        if (result.success) {
                            successfulBookings.push({ GheId: result.gheId, ViTri: result.viTriGhe });
                            /* $(".ghe[data-id='" + result.gheId + "']").addClass("booked").removeClass("selected").css("background-color", "red");*/
                            $(".ghe[data-id='" + result.gheId + "']").removeClass("selected");
                        } else {
                            if (result.message === "Ghế này đã được đặt rồi!") {
                                alreadyBooked.push(result.gheId);
                            } else {
                                failedBookings.push(result.gheId);
                            }
                        }
                    });
                    if (failedBookings.length > 0) {
                        alert("Có lỗi xảy ra với các ghế: " + failedBookings.map(r => r.gheId).join(", "));
                    }
                    if (successfulBookings.length > 0) {
                        window.location.href = '@Url.Action("ChonBapNuoc", "ChonGheNgoi")';
                    }
                    selectedSeats = [];
                },
                error: function() {
                    alert("Có lỗi xảy ra!");
                }
            });
        });
    });
    function clearLichChieuSelectionsAndGoBack() {
         // Make an AJAX call to clear the bap nuoc selections
        $.ajax({
            url: '@Url.Action("ClearLichChieuSelections", "ChonGheNgoi")', // Adjust the URL and action as needed
            type: 'POST',
            success: function(response) {
                // After clearing the selections, navigate back
                window.history.back();
            },
            error: function() {
                alert("Có lỗi xảy ra khi xóa lựa chọn lịch chiếu!");
            }
        });
    }
</script>
<style>
    .legend {
        display: flex;
        align-items: flex-end;
        text-align: center;
        justify-content: center;
    }
    .legend-item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-top: 20px;
    }
    .ghe.booked {
        background-color: red;
        cursor: not-allowed;
    }

    .ghe.selected {
        background-color: red;
        border: 3px solid blue;
        margin-block: auto;
    }

    button#dat-ve-btn {
        margin-right: auto;
        margin-top: 20px;
        margin-left: auto;
        text-align: center;
        justify-content: center;
        display: flex;
        /* margin: auto; */
        width: 150px;
        height: 30px;
        background-color: antiquewhite;
    }

    .ghe {
        border-radius: 10px;
        width: 60px;
        height: 60px;
        display: inline-block;
        text-align: center;
        margin-top: 10px;
        margin-right: 2px;
        line-height: 60px;
        background-color: green;
        cursor: pointer;
    }

    .screen {
        text-align: center;
        margin: 20px;
        font-weight: bold;
    }
   

</style>
