@model WebDatVePhim.Controllers.ChonGheNgoiController.XemLaiVeViewModel
@{
    ViewBag.Title = "XemLaiVe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="btnBack">
    <button class="btnBack" style="border:none" onclick="GoBack()">
        <img src="~/img/icon home.png" style="width:20px;height:20px" />
        <span class="Back" style="font-size: 20px; vertical-align: middle;">Home</span>
    </button>
</div>
<h2>Thông tin vé</h2>
<p><b>Tên rạp: </b>@Model.TenRap</p>
<p><b>Địa chỉ: </b>@Model.DiaChiRap</p>
<p><b>Phim: </b> @Model.TenPhim</p>
<p><b>Ngày chiếu: </b> @Model.NgayChieu</p>
<p><b>Giờ chiếu: </b> @Model.ThoiGianBatDau ~ @Model.ThoiGianKetThuc</p>
<p><b>Phòng chiếu: </b> @Model.TenPhongChieu</p>
<p><b>Vị trí ghế: </b> @Model.ViTriGhe</p>
<p><b>Giá vé: </b> @Model.GiaVe.ToString("#,###.##") VND</p>


@if (Model.BapNuocSelections != null && Model.BapNuocSelections.Any())
{
    <h4>Thông Tin Bắp Nước</h4>

    foreach (var bapNuoc in Model.BapNuocSelections)
    {
        var total = @bapNuoc.GiaTien * @bapNuoc.SoLuong;
        <p><b>@bapNuoc.TenBapNuoc</b>  - <b>Số lượng:</b> @bapNuoc.SoLuong - <b>Giá:</b>  @total.ToString("#,###.##") VND</p>
    }

}
@if (Model.KhuyenMaiSelections != null && Model.KhuyenMaiSelections.Any())
{
    <h4>Khuyến Mãi</h4>
    foreach (var khuyenMai in Model.KhuyenMaiSelections)
    {
        <p>@khuyenMai.tenKhuyenMai </p>
    }
}

<h3><strong>Tổng số tiền: </strong>@Model.TongSoTien.ToString("#,###.##") VND</h3>
@*<p><b>Mã vé: </b> @Model.maDat</p>*@
<p><b>Mã vé: </b><span class="ticket-code-container"><span class="ticket-code">@Model.maDat</span></span></p>
<script>
    function GoBack() {
        window.location.href = '@Url.Action("Index", "ChonPhim")';
    }
</script>
<style>
    td {
        width: 150px;
    }

    .total {
        margin-top: 10px;
    }

    .ticket-code-container {
        border: 2px solid #333; /* Đường viền của khung */
        border-radius: 8px; /* Bo góc khung */
        padding: 10px; /* Khoảng cách giữa đường viền và nội dung */
        background-color: #f9f9f9; /* Màu nền của khung */
        display: inline-block; /* Để khung không chiếm toàn bộ chiều ngang */
        font-family: Arial, sans-serif; /* Font chữ của nội dung */
    }

    .ticket-code {
        font-size: 30px; /* Kích thước chữ của mã vé */
        font-weight: bold; /* Đậm chữ */
        color: #333; /* Màu chữ */
    }
</style>