@{
    Layout = null;
    var taiKhoan = Session["TaiKhoan"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/Css/at.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/Css/templatemo-cyborg-gaming.css" rel="stylesheet" />
    <link href="~/Content/Css/animate.css" rel="stylesheet" />
    <link href="~/Content/Css/owl.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .suggestions {
            background-color: white;
            border: 1px solid #1f2122;
            position: absolute;
            z-index: 1000;
            width: 100%;
            max-height: 300px;
            overflow-y: auto;
        }

        .suggestion-item {
            padding: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #1f2122;
        }

            .suggestion-item img {
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }

            .suggestion-item:hover {
                background-color: #f0f0f0;
            }
    </style>
</head>
<body>
    @RenderBody()

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="@Url.Action("Index", "HomeNguoiDung")" class="logo">
                            <img src="~/img/logo.png" alt="">
                        </a>
                        <div class="search-input" style="position: relative;">
                            <form id="search" action="@Url.Action("SearchPartial", "HomeNguoiDung")" method="get">
                                <input type="text" placeholder="Tìm Kiếm" id='searchText' name="searchKeyword" />
                                <div class="suggestions" id="suggestions"></div>
                            </form>

                        </div>
                        <ul class="nav">
                            <li><a href="index.html" class="active">Trang chủ</a></li>
                            <li><a href="browse.html">Thông tin</a></li>
                            <li><a href="details.html">Review phim</a></li>
                            <li><a href="streams.html">Blogs Phim</a></li>
                            @if (Session["TaiKhoan"] != null)
                            {

                                <li><a href="@Url.Action("Profile", "TrangAcount")">@taiKhoan</a></li>
                               

                            }
                            else
                            {
                                <li><a href="@Url.Action("Login", "TrangAcount")">Tài Khoản</a></li>
                            }
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">
                    <div id="searchResults">
                        <!-- Kết quả tìm kiếm sẽ được hiển thị ở đây -->
                    </div>

                    <div class="main-banner">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="header-text">
                                    <h6>Chào bạn đã đến CyBorg</h6>
                                    <h4><em>Bạn</em> Muốn biết thêm về chúng tôi</h4>
                                    <div class="main-button">
                                        <a href="browse.html">Nhấn vào đây</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Banner End ***** -->
                    <!-- ***** Most Popular Start ***** -->
                    <div class="most-popular">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading-section">
                                    <h4>PHIM ĐANG CHIẾU</h4>
                                </div>


                            </div>
                            @Html.Action("PhimMoiPartial", "HomeNguoiDung")
                        </div>
                    </div>
                    <!-- ***** Most Popular End ***** -->
                    <!-- ***** Gaming Library Start ***** -->
                    <div class="most-popular">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading-section">
                                    <h4>PHIM SẮP CHIẾU</h4>
                                </div>


                            </div>
                            @Html.Action("PhimMoiPartial", "HomeNguoiDung")
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="profile.html">Xem thêm</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- ***** Gaming Library End ***** -->
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2036 <a href="#">Cyborg TuanAnh</a> Company. All rights reserved.
                        <br>Design: TowAT</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
    $(document).ready(function () {
        $('#searchText').on('keyup', function () {
            var searchKeyword = $(this).val();
            if (searchKeyword.length > 0) {
                $.ajax({
                    url: '@Url.Action("GetMovieSuggestions", "HomeNguoiDung")',
                    type: 'GET',
                    data: { searchKeyword: searchKeyword },
                    success: function (data) {
                        var suggestions = $('#suggestions');
                        suggestions.empty();
                        if (data.length > 0) {
                            suggestions.show(); // Hiển thị khung suggestions
                            $.each(data, function (index, item) {
                                suggestions.append(
                                    '<div class="suggestion-item" onclick="window.location.href=\'' + item.DetailsUrl + '\'">' +
                                    '<img src="@Url.Content("~/img/")' + item.anhPhim + '" alt="Hình ảnh phim">' +
                                    '<span>' + item.tenPhim + '</span>' +
                                    '</div>'
                                );
                            });
                        } else {
                            suggestions.hide(); // Ẩn khung suggestions nếu không có dữ liệu
                        }
                    }
                });
            } else {
                $('#suggestions').hide(); // Ẩn khung suggestions nếu không có từ khóa tìm kiếm
            }
        });

        // Ẩn khung suggestions khi nhấn ra ngoài
        $(document).on('click', function (e) {
            if (!$(e.target).closest('.search-input').length) {
                $('#suggestions').hide();
            }
        });
    });
    </script>

</body>
</html>
