@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebDatVePhim.Models.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý phim</h2>

<p>
    @Html.ActionLink("Thêm phim mới", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            ID phim
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Tên phim
        </th>
        <th>
            Thể loại
        </th>
        <th>
            Diễn viên
        </th>

        <th>
            Đạo diễn
        </th>
        <th>
            Tóm tắt phim
        </th>
        <th>
            Thời lượng
        </th>
        <th>
            Đánh giá
        </th>
        <th>
            Ngày khởi chiếu
        </th>

        <th>
            Quốc gia
        </th>
        <th>
            Trailer
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        Console.WriteLine(item);
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id_Phim)
    </td>

    <td>
        <div id=" AnhBia"><img src="@Url.Content("~/img/"+item.anhPhim)" width="150" height="150" /></div>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tenPhim)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.theLoai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dienVien)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.daoDien)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tomTatPhim)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.thoiLuong)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.danhGia)
    </td>
    <td>
        @item.ngayKhoiChieu.GetValueOrDefault().ToString("dd/MM/yyyy")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.quocGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.trailer)
    </td>

    <td>
        @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @IdPhim = item.id_Phim }) |
        @Html.ActionLink("Hiển thị", "HienThi", new { @IdPhim = item.id_Phim }) |
        @Html.ActionLink("Xóa", "XoaPhim", new { @IdPhim = item.id_Phim })
    </td>
</tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<style>
    .MenuTrang li {
        display: inline;
    }
</style>