@model WebDatVePhim.Models.Phim

@{
    ViewBag.Title = "XoaPhim";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>XoaPhim</h2>

<h3>Bạn có muốn xóa Phim?</h3>
<div>
    <h4>Phim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID phim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Phim)
        </dd>
        <dt>
            Hình ảnh
        </dt>

        <dd>
            <div id=" AnhBia"><img src="@Url.Content("~/img/"+Model.anhPhim)" width="150" height="150" /></div>
        </dd>

        <dt>
            Tên phim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenPhim)
        </dd>
        <dt>
            Thể loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theLoai)
        </dd>
        <dt>
            Diễn viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dienVien)
        </dd>
        <dt>
            Đạo diễn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daoDien)
        </dd>

        <dt>
            Tóm tắt phim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tomTatPhim)
        </dd>

        <dt>
            Thời lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoiLuong)
        </dd>

        <dt>
            Đánh giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.danhGia)
        </dd>

        <dt>
            Ngày khởi chiếu
        </dt>

        <dd>
            @Model.ngayKhoiChieu.GetValueOrDefault().ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Quốc gia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quocGia)
        </dd>

        <dt>
            Trailer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trailer)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
