@model WebDatVePhim.Models.BapNuoc

@{
    ViewBag.Title = "XoaPhim";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa bắp nước</h2>


<div>
    <h4>Bắp nước</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID bắp nước
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_BapNuoc)
        </dd>

        <dt>
            Tên bắp nước
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenBapNuoc)
        </dd>

        <dt>
            Chi tiết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chiTietBapNuoc)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Model.giaTien.GetValueOrDefault().ToString("#,###")
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <div id="hinhAnh"><img src="@Url.Content("~/img/"+Model.hinhAnh)" width="150" height="150" /></div>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang quản lý bắp nước", "Index")
        </div>
    }
</div>
